#connectionSwitch {
	display: none;
}
#connectionSwitch.ready {
	display: inline-block;
}
.fixed-add-btn {
	position: absolute !important;
    bottom: 20px;
	right: 20px;
}

/* Giving body a minimum height and hiding it's overflow */
body {
	max-height: 100vh;
	overflow-y: hidden;
}
/* Fixing the header to the top and giving it a fixed height */
header {
	height: 64px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
}
/* Fixing the main and giving it a top and bottom margin to escape the absolute elements */
main {
	position: absolute;
	top: 70px;
	bottom: 96px;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Adding height 100% to the tab content and flexbox arrangement */
.tab-pane {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.tab-pane.left {
	transform: translateX(-100%);
}
.tab-pane.left.show.active {
	opacity: 1;
	transform: translateX(0);
}
.tab-pane.right {
	transform: translateX(100%);
}
.tab-pane.right.show.active {
	opacity: 1;
	transform: translateX(0);
}

@media (min-width:577px) {
	.tab-pane form {
		padding: 0;
	}
}


/* Styles for the animated progressbar that gets added */
.tab-pane form .form-group {
	position: relative;
}
.tab-pane form .form-group .progress{
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	display: none;
}
.tab-pane form .form-group.submitting .progress {
	display: block;
}

/* Styles for the submit button */
.tab-pane form button[type=submit] {
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.tab-pane form button[type=submit] span {
	padding: .6875rem 1rem;
}

.tab-pane form button[type=submit] svg {
	display: none;
	margin: 3px 1rem;
}
.tab-pane form button[type=submit].submitting span {
	display: none;
}
.tab-pane form button[type=submit].submitting svg {
	display: block;
}

/* Styles for the loading image */
.tab-pane .image {
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
}

/* Changing the row flex to column stack */
.tab-pane .row {
	flex-direction: column;
	align-items: center;
}