.fixed-add-btn {
	position: absolute !important;
    bottom: 20px;
	right: 20px;
}
body {
	width: 100vw;
	overflow-x: hidden;
}
/* Fixing the header to the top and giving it a fixed height */
header {
	height: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
}
/* Fixing the main and giving it a top and bottom margin to escape the absolute elements */
main {
	position: relative;
	margin-top: 144px;
	margin-bottom: 96px;
	overflow-x: hidden;
	display: flex !important;
	width: 200vw !important;
	opacity: 1 !important;
	transition: transform 0.3s ease;
}

main.right {
	transform: translateX(-100vw);
}

/* Adding height 100% to the tab content and flexbox arrangement */
.tab-pane {
	min-height: 500px;
	width: 100vw;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

@media (min-width:577px) {
	.tab-pane form {
		padding: 0;
	}
}


/* Styles for the animated progressbar that gets added */
.tab-pane form .form-group {
	position: relative;
}
.tab-pane form .form-group .progress{
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	display: none;
}
.tab-pane form .form-group.submitting .progress {
	display: block;
}

/* Styles for the submit button */
.tab-pane form button[type=submit] {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-pane form button[type=submit] span {
	padding: .6875rem 1rem;
}

.tab-pane form button[type=submit] svg {
	display: none;
	margin: 3px 1rem;
}
.tab-pane form button[type=submit].submitting span {
	display: none;
}
.tab-pane form button[type=submit].submitting svg {
	display: block;
}

/* Styles for the loading image */
.tab-pane .image {
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
}
.analyze-tab .image {
	background-image: url('../images/Under Construction.png');
}
/* Changing the row flex to column stack */
.tab-pane .row {
	flex-direction: column;
	align-items: center;
}

/* Styles for the debug switch */
.debug-switch-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
}

/* Set the minimum height for the list group */
.list-group {
	min-height: 400px;
	width: 400px;
	margin-top: 20px;
}